:root {
    --base-color-1: #fff;
    --base-color-2: #f2f2f2;
    --base-color-3: #eee;
    --text-color-1: #111;
    --text-color-2: #333;
    --text-color-3: #888;
    --text-color-4: #aaa;
    --text-color-5: #ccc;
    --text-color-red: #e53935;
    --text-color-green: #09885a;
    --text-color-blue: #00f;
    --shadow-color-0: rgba(0,0,0,0.05);
    --shadow-color-1: rgba(0,0,0,0.1);
    --shadow-color-2: rgba(0,0,0,0.15);
    --blue-color-1: #0071ff;
    --cyan-color-1: #14c4fb;
    --blue-shadow-color-0: rgba(0,113,255,0.1);
    --blue-shadow-color-1: rgba(0,113,255,0.2);
    --blue-shadow-color-2: rgba(0,113,255,0.3);
    --logo-intercom: url(https://storage.googleapis.com/studio-front/logos/intercom-logo-light.svg);
    --logo-search-console: url(https://storage.googleapis.com/studio-front/logos/google-search-console-logo-light.svg);
    --logo-channel: url(https://storage.googleapis.com/studio-front/logos/channel-logo-light.svg);
    --typesquare-bg: linear-gradient(#fff, rgba(255,255,255,0.7)), url(https://storage.googleapis.com/studio-front/logos/typesquare-bg-light.png);
    --plan-v1-publish: #3238ec;
    --plan-v2-free: #aaa;
    --plan-v2-basic: #3238ec;
    --plan-v2-pro: #3238ec;
    --recommend-color: #3238ec;
    --seo-site-title: #2970dc;
    --seo-site-url: #135e30;
    --modal-backdrop-color: rgba(0,0,0,0.16);
    --pd-black-1: #333;
    --pd-black-2: #666;
    --pd-black-3: #999;
    --pd-black-4: #eee;
    --pd-black-5: #fafafa;
    --pd-border-color-1: #eee;
    --pd-pink-1: #fc32a9;
    --pd-pink-2: rgba(252,50,169,0.11);
    --pd-red-1: #fc3235;
    --box-shadow-depth-1: 0 6px 16px rgba(0,0,0,0.08);
    --box-shadow-depth-2: 0 4px 20px rgba(0,0,0,0.1);
    --box-shadow-pink: 0 4px 20px rgba(252,50,169,0.3);
    --color-studio-main: linear-gradient(45deg, #f05, #f94cff);
    --color-studio-main-hover: linear-gradient(38deg, #ff006a, #ff7cf5);
    --color-studio-alpha: linear-gradient(45deg, #f05, #f94cff);
    --color-studio-alpha-hover: linear-gradient(45deg, #f05, #f94cff);
    --color-studio-text: #fff;
    --color-studio-text-hover: #fff;
    --color-default-main: #f1f1f1;
Show All Properties (47 more)
}
:root {
    --z-index-max: 2147483647;
    --z-index-min: -2147483648;
    --z-index-editor-canvas: 0;
    --z-index-box-selector-droppable: 2147483647;
    --z-index-box-handle: 10;
    --z-index-box-handle-action: 9200000;
    --z-index-box-handle-action-tip-add: 4;
    --z-index-box-handle-attrs: 9200000;
    --z-index-box-handle-attrs-image: 2;
    --z-index-box-handle-data-image-menu: 100000;
    --z-index-box-handle-data-image-menu-input: 2;
    --z-index-box-handle-image-menu-input: 2;
    --z-index-box-handle-margin-resize: 9999;
    --z-index-box-handle-padding-resize: 9999;
    --z-index-box-handle-radius: 2;
    --z-index-box-handle-radius-resize: 2;
    --z-index-box-handle-repeat: 440000;
    --z-index-box-handle-fixed: 110;
    --z-index-box-handle-fixed-guide: 9999;
    --z-index-box-handle-fixed-position: 9999;
    --z-index-box-handle-size: 110;
    --z-index-form-helper: 90000;
    --z-index-base-select-menu: 100;
    --z-index-editor-grab-area: 2147483647;
    --z-index-break-points-guide-line: 0;
    --z-index-editor-canvas-screen-ruler: 20;
    --z-index-editor-canvas-screen-ruler-label: 101;
    --z-index-editor-canvas-screen-ruler-p: 1000000;
    --z-index-responsive-label: 10;
    --z-index-page-tool-pages-dragging: 20;
    --z-index-dev-tool: 1000;
    --z-index-text-renderer-editing: 100000;
    --z-index-left-panel: 2147483644;
    --z-index-resource-panel: 2147483644;
    --z-index-footer-panel: 2147483645;
    --z-index-box-panel: 10;
    --z-index-box-panel-item-icon: 2;
    --z-index-box-panel-template: 10;
    --z-index-icons-panel: 10;
    --z-index-icons-panel-input: 2;
    --z-index-images-panel: 10;
    --z-index-images-panel-input: 2;
    --z-index-images-panel-photo: 10;
    --z-index-images-panel-photo-content: 11;
    --z-index-uploads-panel: 10;
    --z-index-uploads-panel-photo: 2;
    --z-index-uploads-panel-uploader: 2;
    --z-index-right-panel: 2147483644;
    --z-index-editor-header: 2147483645;
    --z-index-editor-header-nav-right: 200;
Show All Properties (22 more)
}
a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    font-family: Lato,Noto Sans JP,Hiragino Kaku Gothic ProN,Meiryo,"\30E1\30A4\30EA\30AA";
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0;
    font-weight: 400;
    color: rgba(0,0,0,.84);
}
user agent stylesheet
html {
    display: block;
    color: -internal-root-color;
}
