h1{
    color:gray;
}
body{
    font-family:'Source Han Serif JP',"Noto Serif CJK JP", "游明朝体", "Yu Mincho", Yumincho, serif ;
    columns: #333
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:auto;
    margin-right: auto;
    width: 700px;
    
}

h3{color: gray

}

header{
    background-color:;
}




.container {
    width: 700px;
    margin-left:auto;
    margin-right: auto;
}


